.btn {
    font-size: 14;
    color: turquoise;
}

.action-bar{
    background-color: aquamarine;
    font-size: 20;
}

.action-bar-title{
    font-size: 20;
}

.title {
    font-size: 20;
    padding: 10;
    vertical-align: center;
    text-align: left;
}

.detail{
    font-size: 14;
    padding: 10;
}

.text-detail{
 font-size: 15px;
 padding: 10;
 background-color: black;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';


.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}