.action-bar{
    color:#ffffff;
    background-color: #5eab9b;
}

    .page {
    background-color: #fafeff;
    }
    
    .tab-view {
    background-color: #fafeff;
    }
    
    .list-group, .list-group-item {
    background-color: #fafeff;
    }
    
    .page label, .tab-view label {
    color: #000000;
    }
    
    .activity-indicator {
    color: #265762;
    }
    
    .list-group-item-heading {
    font-size: 16;
    }
    
    .list-group-item-text {
    font-size: 14;
    }
    
        .image{
        width: 60px;
        height: 60px;
        color:green;
        margin-right: 40px;
        }


        .button{
            margin-right: 40px;
            color: blue;
            width: 60px;
             height: 60px;
        }
