.btn {
    font-size: 18;
    color: rgb(16, 121, 190);
    margin-left: 20;
    max-width: 10;
    white-space: nowrap;
    overflow: hidden;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #10BA10;
    border-radius: 50%;
    display: inline-block;
}

.action-bar {
    background-color: aquamarine;
    font-size: 20;
    text-align: center;
}

.action-bar-title {
    font-size: 20;
}

.title {
    font-size: 20;
    vertical-align: center;
    text-align: left;
}

.detail {
    font-size: 16;
    padding: 10;
    margin-left: 20;
    overflow: hidden;
    white-space: nowrap;
    /* text-align: justify; */
    word-break: break-all;
}

.text-detail {
    font-size: 15px;
    padding: 10;
    background-color: black;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import '~nativescript-theme-core/css/core.light.css';
.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}